.container{
    width:100%;
	height:100%;
	background: url("../img/salary/bg.jpg") repeat;
	background-size: cover;
	-webkit-animation: animate-cloud 100s linearinfinite;
	animation: animate-cloud 100s linear infinite;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); 
}
button{
	width:100%;
	height:1.906667rem;
	line-height: 1.906667rem;
	color:#fff;
	background: #00BF93!important;
	text-align: center;
	border-radius: .213333rem;
	font-size:.725333rem;
  display: block;
  -webkit-tap-highlight-color:transparent;
}
// 背景图移动动画

@-webkit-keyframes animate-cloud {
	from {
	background-position: 50% 100%;
	}
	to {
	background-position: 0 100%;
	}
}
@keyframes  animate-cloud {
	from {
	background-position: 50% 100%;
	}
	to {
	background-position: 0 100%;
	}
}