// 薪资单样式
.enters{	
  padding-top:1.578667rem;
	.list{
    width:13.866667rem;
    height:4.266667rem;
    background: #59C19A;
    border-radius: .213333rem;
    margin: .64rem auto;
    img{
      width:4.266667rem;
      height:2.432rem;
      margin-left:1.066667rem;
      margin-right:2.048rem;
    }
    span{
      color:#fff;
      font-size: .853333rem;
    }
  }
}
.detail{
	width:100%;
	height:100%;
	background:#f8f8f8;
	.detail-head{
		width:100%;
		height:2.56rem;
		.left{
			width:1.28rem;
			height:2.56rem;
			border-right:1px solid #ccc;
			-webkit-tap-highlight-color:transparent;
			img{
				width:.853333rem;
				height:.853333rem;
			}
		}
		.right{
			width:1.28rem;
			height:2.56rem;
			-webkit-tap-highlight-color:transparent;
			img{
				width:.853333rem;
				height:.853333rem;
			}
		}
		.swiper-container{
			height:2.56rem;
		}
		.months{
			width:13.44rem;
			.month{
				width:3.370667rem;
				height:2.56rem;
				color:#999999;
				padding-top:.746667rem;
				border-right:1px solid #ccc;
				.month-top{
					font-size:.512rem;
				}
				.month-center{
					font-size:.597333rem;
				}
			}
			.month-select{
				width:3.370667rem;
				height:2.56rem;
				padding-top:.746667rem;
				border-right:1px solid #ccc;
				color:#333;
				background: #fff;
				border-right:1px solid #ccc;
				.month-top{
					font-size:.512rem;
				}
				.month-center{
					font-size:.597333rem;
				}
			}
		}
	}
	.detail-lists{
		width:100%;
		background: #fff;
		padding-left:.64rem;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
		.detail-list{
			width:100%;
			height:1.984rem;
			line-height:1.984rem;
			padding-right:.768rem;
			border-bottom:1px solid #ccc;
			.list-left{
				color:#333333;
				font-size:.725333rem;
			}
			.list-right{
				color:#999;
				font-size:.725333rem;
				float:right;
			}
			&:last-child{
				border:0;
			}
		}
		.salaryAll{
			width:100%;
			height:3.413333rem;
			padding-right:.768rem;
			img{
				width:2.56rem;
				height:2.56rem;
			}
			.salary-left{
				height:3.413333rem;
				float:left;
				padding-top:.426667rem;
			}
			.salary-right{
				height:3.413333rem;
				float:right;
				padding-top:.9rem;
				.money{
					color:#333;
          font-size:.896rem;
          margin-bottom:0.2rem;
				}
				.month{
					color:#999999;
					font-size:.512rem;
					float:right;
				}
			}
		}
	}
	.classify{
		width:100%;
		.title{
			width:100%;
			padding-left:.64rem;
			height:1.52rem;
			color:#999999;
			font-size:.5697333rem;
		}
	}
}
.weui-cell {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.weui-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #f2f2f2;
    color: #f8f8f8;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
    z-index: 2;
}
.swiper-container{
	width: 16rem;
	height: 4.266667rem;
	-webkit-tap-highlight-color:transparent;
}
// 动画
@-webkit-keyframes fadeInRight {
	from {
        opacity: 0;
		right:0%;
    }

    to {
        opacity: 1;
        right:50%;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
		right:0%;
    }

    to {
        opacity: 1;
        right:50%;
    }
}
.fadeInRight {
	animation:fadeInRight 0.5s;
	-webkit-animation:fadeInRight 0.5s ease-in 0.5s;
	animation-fill-mode:forwards; 
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes fadeInBottom {
	from {
        opacity: 0;
		bottom:0;
    }

    to {
        opacity: 1;
        bottom:3.306667rem;
    }
}
@keyframes fadeInBottom {
	from {
        opacity: 0;
		bottom:0;
    }

    to {
        opacity: 1;
        bottom:3.306667rem;
    }
}
.fadeInBottom {
	animation:fadeInBottom 1s;
	-webkit-animation:fadeInBottom 0.5s ease-in 0.5s;
	animation-fill-mode:forwards; 
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes fadeInBottoms {
	from {
        opacity: 0;
		bottom:0.9;
    }

    to {
        opacity: 1;
        bottom:4.26667rem;
    }
}
@keyframes fadeInBottoms {
	from {
        opacity: 0.9;
		bottom:0;
    }

    to {
        opacity: 1;
        bottom:4.26667rem;
    }
}
.fadeInBottoms {
	animation:fadeInBottoms 1s;
	-webkit-animation:fadeInBottoms 0.5s ease-in 0.5s;
	animation-fill-mode:forwards; 
	-webkit-animation-fill-mode:forwards;
}
//波纹动画
.dot {
	animation: sploosh 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  }
  .dot2 {
	animation: sploosh2 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  }
  .dot,.dot2{
	width:6.4rem;
	height:6.4rem;
	color: #fff;
	border-radius: 100%;
	animation-iteration-count:infinite;
	background: transparent;
  }
  @keyframes sploosh {
	0% {
	  box-shadow: 0 0 0 0px rgba(25, 170, 141, 1);
	}
	100% {
	  box-shadow: 0 0 0 90px rgba(25, 170, 141,0);
	}
  }
  @keyframes sploosh2 {
	0% {
	  box-shadow: 0 0 0 0px rgba(25, 170, 141, 1);
	}
	100% {
	  box-shadow: 0 0 0 40px rgba(25, 170, 141,0);
	}
  }
 
// 背景图移动动画

@-webkit-keyframes animate-cloud {
	from {
	background-position: 600px 100%;
	}
	to {
	background-position: 0 100%;
	}
}
@keyframes  animate-cloud {
	from {
	background-position: 600px 100%;
	}
	to {
	background-position: 0 100%;
	}
}
