.unbind{
	width:100%;
	height:100%;
  background:#f8f8f8;
  .head{
    width:100%;
    height:13.4rem;
    padding-top:4rem;
    img{
      width:4.266667rem;
      height:4.266667rem;
    }
  }
  .unbinds{
    width:13.866667rem;
		margin:0 auto;
  }
}